$black-1: #2c2d2e;
$black-2: #333333;
$black-3: #232324;
$black-4: #19191a;

$white-1: #ffffff;
$white-2: #f6f7f8;
$white-3: #e7e8ea;

$gray-1: #87898f;
$gray-2: #9c9da2;
$gray-3: #a5a7ad;

$blue-1: #005bd1;
$blue-2: #005ff9;
$blue-3: #589bff;
$blue-4: #3c82fd;
