.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-letter {
  --font-weight: 700;
}

.menu-items {
  margin-top: 12px;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 8px 0;
  background-color: var(--sidebar-separator-background);
}

.create-folder {
  --justify-content: left;
  --border: none;
  --background-color: none;
  --opacity: 0.48;
}
