@import 'theme/index.scss';

body {
  margin: 0;
  font-family: 'Arial', serif;
  background: var(--main-background);
  font-size: 15px;
  color: var(--font-primary);
}

button {
  font-family: 'Arial', serif;
  font-size: 15px;
}

p {
  margin: 0;
}
